* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:2px 2px 2px #000;
}

#clockdate {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.clockdate-wrapper {
    background: transparent;  
    /* background: -webkit-linear-gradient(to right, #fcff34, #143673);  
    background: linear-gradient(to right, #fcff34, #143673); */
    padding:15px;
    max-width:100%;
    width:100%;
    text-align:center;
    border-radius:15px;
    margin:0 auto;
    margin-bottom: 10%;
    text-shadow:2px 2px 2px #000;
}
#clock{
    font-size:60px;
    text-shadow:2px 2px 2px #000;
    color:#fff;
}
#date {
    letter-spacing:3px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
    text-shadow:2px 2px 2px #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('src/background-images/background-image.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height .6s ease;
}

.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search-box i {
    position: absolute;
    background: transparent;
    left: 10px;
    font-size: 28px;
    color: #fff;
    text-shadow:2px 2px 2px #000;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px black;
    text-shadow:2px 2px 2px #000;
}

.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize;
    text-shadow:2px 2px 2px #000;
}

.search-box button {    
    text-shadow:2px 2px 2px #000;
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    font-size: 28px;
    padding: 0 40px 25px 10px;
    cursor: pointer;
}

.weather-box {
    text-align: center;
    margin: 5px 0;
    overflow: hidden;
}

.weather-box img {
    width: 60%;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    font-weight: 700;
    margin: 0px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-box,
.not-found,
.weather-details {
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.not-found.active,
.weather-details.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box {
    transform: translateY(-100%);
}

.weather-box .box .weather-info {
    transform: translateY(-120%);
    overflow: hidden;
}

.container.active .weather-details .humidity .humidity-info,
.container.active .weather-details .wind .wind-info,
.container.active .weather-box .box .weather-info {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .3s;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(-110%);
}

.weather-details .humidity .humidity-info,
.weather-details .wind .wind-info {
    transform: translateY(-130%);
    overflow: hidden;
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .1.2s;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    font-size: 55px;

}

.weather-details span {
    display: inline-block;
    font-size: 22px;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width: 60%;
}

.not-found p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 12px;
}

.city-hide {
    display: none;
}


#clone-info-humidity,
#clone-info-wind {
    position: absolute;
    transform: translateY(-100%);
}

#clone-info-weather {
    position: relative;
    transform: translateY(-100%);
}

#clone-info-weather .weather {
    transform: translateY(120%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
    transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}